@import '../../Assets/Styles/Colors.scss';
@import '../../Assets/Styles/Breakpoints.scss';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px 0px;
  background-color: $darkRed;

  span[data-type=logo-text] {
    color: $lightGrey;
    font-size: 1.5em;
    font-weight: 600;
  }

  span[data-type=logo-subtext] {
    color: $lightGrey;
    font-size: .9em;
    font-weight: 300;
  }
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  height: 400px;
  width: 100%;
  background-color: $lightGrey;

  .title, .subtitle {
    color: $darkGrey;
    font-size: 2.2em;
  }

  .contentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .subtitle {
    margin-top: 5px;
    font-weight: 400;
  }

  .buttonContainer {
    margin-top: 52px;
  }
}

.imageContainer {
  width: 30%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  picture {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 70%;
    height: auto;
  }

  &[data-mobile=true] {
    display: none;
  }
}

@media (max-width:$tablet) {
  .banner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 30px 5%;

    .title, .subtitle {
      font-size: 2em;
    }
  }

  .imageContainer {
    display: none;

    &[data-mobile=true] {
      width: 100%;
      display: flex;

      img {
        width: 85%;
        height: auto;
      }
    }
  }
}

