@import '../../Assets/Styles/Colors.scss';
@import '../../Assets/Styles/Breakpoints.scss';

@mixin triangle {
  content: " ";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom: 0;
  border-top: 7px solid $grey;
  margin-right: 10px;
  margin-top: -2px;
}

@mixin transition {
  transition: all 300ms ease-in-out;
}

.faqSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;

  h5, span {
    color: $darkGrey
  }
}

.faqContainer {
  border: 1px solid;
  border-radius: 10px;
  border-color: $grey;
  margin-top: 15px;
  width: 40%;
}

.faqItemHeader {
  @include transition;

  padding: 10px 10px;
  border-bottom: 1px $grey solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  span {
    @include transition;

    font-size: .75em;
  }

  .arrow {
    @include transition;
    @include triangle;
  }

  &[data-last=true] {
    border-bottom: 0px;
  }
}

.faqItemHeader[data-selected=true] {
  border-bottom: 0px;

  span {
    font-weight: 700;
  }

  .arrow {
    transform: rotate(180deg);
  }
}

.faqItemAnswer {
  transition: opacity 300ms ease-in-out 200ms;
  font-size: .75em;
  padding-left: 10px;
  height: 0px;
  overflow: hidden;
  opacity: 0;

  &[data-selected=true] {
    height: auto;
    opacity: 1;
    padding: 0px 10px 10px 10px;
    border-bottom: 1px $grey solid;
  }

  &[data-last=true] {
    border-bottom: 0px;
  }
}

@media (max-width: $tablet) {
  .faqContainer {
    width: 80%;
  }
}

@media (max-width: $phone) {
  .faqContainer {
    width: 100%;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
  }
}
