@import '../../Assets/Styles/Colors.scss';
@import '../../Assets/Styles/Breakpoints.scss';

.button {
  margin: 8px 6px;
  border-radius: 40px;
  border-width: 0px;
  height: 36px;
  width: 180px;
  cursor: pointer;

  box-shadow: 0px 5px 10px -5px $darkGrey;
  -webkit-box-shadow: 0px 5px 10px -5px $darkGrey;
  -moz-box-shadow: 0px 5px 10px -5px $darkGrey;
  
  span {
    font-size: .8em;
    color: $lightGrey;
    font-weight: 600;
  }

  &:focus{
    border-width: 0px;
  }

  &[data-variant=red] {
    background: $darkRed;
    background: -moz-linear-gradient(180deg, $lightRed 0%, $darkRed 100%);
    background: -webkit-linear-gradient(180deg, $lightRed 0%, $darkRed 100%);
    background: linear-gradient(180deg, $lightRed 0%, $darkRed 100%);

    &:hover {
      background: #e50d3c;
      background: -moz-linear-gradient(180deg, $lightRed 0%, #e50d3c 100%);
      background: -webkit-linear-gradient(180deg, $lightRed 0%, #e50d3c 100%);
      background: linear-gradient(180deg, $lightRed 0%, #e50d3c 100%);
    }
  }

  &[data-variant=black] {
    background: $darkGrey;
    background: -moz-linear-gradient(180deg, $grey 0%, $darkGrey 100%);
    background: -webkit-linear-gradient(180deg, $grey 0%, $darkGrey 100%);
    background: linear-gradient(180deg, $grey 0%, $darkGrey 100%);

    &:hover {
      background: #9498aa;
      background: -moz-linear-gradient(180deg, $grey 0%, #9498aa 100%);
      background: -webkit-linear-gradient(180deg, $grey 0%, #9498aa 100%);
      background: linear-gradient(180deg, $grey 0%, #9498aa 100%);
    }
    
  }
}

@media (max-width: $phone) {
  .button {
    height: 48px;
    width: 200px;

    span {
      font-size: 1em;
      color: $lightGrey;
      font-weight: 600;
    }
  }
}