@import '../../Assets/Styles/Colors.scss';
@import '../../Assets/Styles/Breakpoints.scss';

.modalBackdrop {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: $white, $alpha: .7);
  transition: all 300ms ease-in-out;
}

.modalBackdrop[data-display=true] {
  display: flex;
}

.modalBackdrop[data-show=true] {
  opacity: 1;
}

.modalContainer {
  width: 400px;
  border-radius: 10px;
  background-color: $white;
  overflow: hidden;

  box-shadow: 0px 5px 10px -5px $darkGrey;
  -webkit-box-shadow: 0px 5px 10px -5px $darkGrey;
  -moz-box-shadow: 0px 5px 10px -5px $darkGrey;
}

.modalHeader {
  background-color: $darkRed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;

  span {
    color: $white;
    font-size: 1em;
    font-weight: 600;
  }
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.productItem {
  padding: 15px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  picture {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 70%;
    height: auto;
  }

  .productName {
    font-size: 1em;
    font-weight: 600;
    color: $darkRed;
    padding-top: 40px;
  }

  .productDescription {
    display: block;
    font-size: .75em;
    padding-top: 10px;
  }

  .productPrice {
    display: block;
    font-size: 1.3em;
    font-weight: 600;
  }
}

@media (max-width: $phone) {
  .modalContainer {
    width: 80%;
    max-height: 90%;
    position: relative;
    overflow-y: scroll;
  }
}